.button {
    font-size: 20px;
    font-family: 'HeadingFont', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.small {
    padding: 6px 14px;
}

.outline {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 8px 18px;
}

.outline.small {
    padding: 4px 12px;
}

.disabled,
.button:disabled {
    background-color: var(--color-disabled);
    cursor: default;
}
