.card {
    width: 100%;
    height: 260px;
    padding: 0;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: var(--color-yellow);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card h2 {
    font-size: 25px;
    font-family: 'HeadingFont', sans-serif;
    margin: 5px 10px;
}

.card p {
    font-size: 15px;
    font-family: 'BodyFont', sans-serif;
    text-decoration: underline;
    margin: 0 10px;
    cursor: pointer;
}

.imageWrapper {
    position: relative;
}

.date {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--color-yellow);
    padding: 4px 8px;
    font-size: 15px;
    font-family: 'HeadingFont', sans-serif;
}