.card {
    width: 100%;
    padding: 0;
    color: inherit;
    display: flex;
    flex-direction: column;
    background-color: var(--color-yellow);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card h2 {
    font-size: 25px;
    font-family: 'HeadingFont', sans-serif;
    margin: 5px 10px;
}

.details {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.details div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.details dt {
    font-size: 15px;
    font-family: 'HeadingFont', sans-serif;
}

.details dd {
    margin: 0;
    font-size: 15px;
    font-family: 'HeadingFont', sans-serif;
}

.text {
    font-size: 15px;
    font-family: 'BodyFont', sans-serif;
    margin: 5px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.action {
    display: flex;
    justify-content: flex-end;
    margin: auto 10px 10px;
    padding-top: 10px;
}

.imageWrapper {
    position: relative;
}

.date {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--color-yellow);
    padding: 4px 8px;
    font-size: 15px;
    font-family: 'HeadingFont', sans-serif;
}
