.card {
    border: solid;
    border-color: grey;
    border-radius: 20px;
    width: 50vw;
    display: flex;
    justify-content: left;

    margin: 20px;
    margin-top: 0px;
    padding: 10px;
}

.card img {
    width: 40%;
    height: auto;
}

.card .content {
    margin-left: 20px;
    margin-right: 20px;
}