.hero {
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    padding-left: 190px;
}

.box {
    background-color: var(--color-yellow);
    padding: 30px;
    max-width: 400px;
}

.box p{
    font-size: 20px;
    font-family: 'BodyFont', sans-serif;
}

.action {
    margin-top: 15px;
}