.hero {
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    padding-left: 190px;
}

.box {
    background-color: var(--color-yellow);
    padding: 30px;
    max-width: 400px;
}

.box p{
    font-size: 20px;
    font-family: 'BodyFont', sans-serif;
}

.button {
    font-size: 20px;
    font-family: 'HeadingFont', sans-serif;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}