.navbar ul {
    font-size: 25px;
    font-family: 'HeadingFont', sans-serif;
    list-style-type: none;
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: var(--color-text);
    text-decoration: none;
    padding: 15px;
    display: flex;
    text-align: center;
}

.navbar a:hover {
    background-color: black;
    color: white;
}