.navbar ul {
    font-size: 25px;
    font-family: 'HeadingFont', sans-serif;
    list-style-type: none;
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.navbar a {
    color: var(--color-text);
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    background-color: rgb(212, 190, 161);
}