@font-face {
    font-family: 'HeadingFont';
    src: url('./assets/fonts/Tanker-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'BodyFont';
    src: url('./assets/fonts/BespokeSerif-Regular.otf') format('opentype');
}

h1 {
    font-size: 40px;
    font-family: 'HeadingFont', sans-serif;
}