.card {
    border: solid;
    border-color: grey;
    border-radius: 20px;
    width: 60%;
    display: flex;
    justify-content: left;

    margin: 20px;
    padding: 10px;
}

.card img {
    height: 300px;
    width: auto;
}

.card content {
    margin-left: 10px;
    margin-right: 10px;
}